* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  /* colors */
  --primary-100: #fccbc5;
  --primary-300: #f9988b;
  --primary-500: #ea5a47;
  --primary-700: #a22a1a;

  /* grey */
  --grey-50: #fcf9f8;
  --grey-700: #553733;
  --grey-900: #2a120f;

  /* default colors */
  --black: #222;
  --white: #fff;

  /* default vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

body {
  background: var(--backgroundColor);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* navbar styles */
nav {
  background: var(--white);
  box-shadow: var(--shadow-1);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-500);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primary-700);
  transform: rotate(90deg);
}

.logo {
  height: 40px;
}

.links a {
  color: var(--grey-700);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--primary-100);
  color: var(--primary-500);
  padding-left: 1.5rem;
}

.links-container {
  overflow: hidden;
  transition: var(--transition);
}

.social-icons {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .nav-header {
    padding: 0;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
    gap: 1rem;
  }

  .links a {
    padding: 0;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons {
    display: flex;
    gap: 0.5rem;
  }

  .social-icons a {
    color: var(--primary-500);
    transition: var(--transition);
    font-size: 1.2rem;
  }
  .social-icons a:hover {
    color: var(--primary-300);
  }
}
